/* OVERWRITES */

  /* Typography */
  h1 a,
  h2 a,
  h3 a{
    color: #333;
  }
  p{
    font-family: 'Lato', 'Open Sans';
  }
  header{
    padding: 45px 0 30px 0;
    text-align: center;

    background: black;
    margin-bottom: 30px;

    background-image: url('../images/bg-header.png');
    background-position: center;
    background-size: cover;
  }
  h1 a{
    color: white!important;
  }
  header a{
    color: white!important;
  }

  .liner{
    width: 50px;
    height: 3px;
    background-color: #333;

    margin:20px auto 0 auto;
  }

  /* Buttons */
  .btn, input[type="submit"]{
    border-radius: 4px;
    border: 1.5px solid #333;

    background-color: #333;
    color: #fff;
    transition-duration: 0.15s;

    padding:7px 12px;
    line-height: 100%;

    font-family: 'Lato','Open Sans';
  }
  .btn:hover, input[type="submit"]:hover{
    background-color: #fff;
    color: #333;
    transition-duration: 0.15s;
  }
  .btn:after, input[type="submit"]:after{
    font-family: FontAwesome;
    content: "\f0da";

    margin:0 0 0 10px;
  }

  /* Columns */
  #project-details .col-4 .col{
    padding-left: 0;
    padding-top: 0;
  }
  #project-details .col-8 .col{
    padding-right: 0;
  }

  #contact .col-6:first-child .col{
    padding-left: 0;
    /* padding-top: 0; */
  }
  #contact .col-6:nth-child(2) .col{
    padding-right: 0;
    /* padding-top: 0; */
  }

  /* BX Slider */
  .bx-wrapper{
    box-shadow: none!important;
    border: none!important;
  }
  .bx-wrapper .bx-prev{
    background: none;
    left: 0;
  }
  .bx-wrapper .bx-next{
    background: none;
    right: 0;
  }

  .bx-controls{
    position: absolute;
    top: 0;
    margin: 0!important;
    background: white;

    display: block;
    width: 100%;
  }
  .bx-controls-direction{
    margin: auto;
    display: table;
  }
  .bx-wrapper .bx-controls-direction a{
    position: absolute;
    top: 25%;
    margin-top: -16px;
    outline: 0;
    width: auto;
    height: 32px;
    text-indent: 0;
    z-index: 9999;

    margin: 0 0;
  }
  .bx-next:after{
    content: url(../images/arrow-alt-circle-right.svg);
    background-size: cover;
    margin: 0 0 0 6px;
    display: block;
    width: 30px;
    height: 30px;
  }
  .bx-prev:before{
    content: url(../images/arrow-alt-circle-left.svg);
    background-size: cover;
    margin: 0 6px 0 0;
    display: block;
    width: 30px;
    height: 30px;
  }
  .bx-wrapper .bx-controls-direction a:active,
  .bx-wrapper .bx-controls-direction a:visited{
    color: #333;
  }

  .bx-wrapper img{
    width: 100%!important;
  }

  .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    color: grey;
  }

  .bx-wrapper .bx-pager{
    width: 65%!important;
    margin: auto;
    padding: 7px 0 0 0;
  }
  .bx-wrapper .bx-pager.bx-default-pager a{
    background: lightgrey;
  }

  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    position: relative!important;
    bottom: 5px!important;
  }

  .bx-pager-item:first-of-type:last-of-type {
    display: none
  }


/* ATOMS */
.line-separator{
  width: 350px;
  max-width: 100%;
  margin: auto;

  display: block;
}
.subtitle{
  font-style: italic;
  margin:0;
}
h1.page-title{
  font-size: 4.5em;
  font-weight: 300;
}
.content{
  max-height: 500px;
  overflow: auto;
}

span.site-subtitle{
  text-align: center;
  display: block;
  font-size: 1.25em;
  font-weight: 300;
  opacity: .75;
  margin: 0 0 15px 0;
  color: white;
}

.dot{
  font-weight:  900;
  margin: 0 10px;
  font-size:  1.25em;
  vertical-align: bottom;
  color: white;
}

/* Main Navigation */
ul.menu{
  display: table;
  margin:1% auto;
  width: auto;
}
ul.menu li{
  margin:0 10px;
}
ul.menu a{
  font-size: 1em;
  padding:0 0 5px 0;
  color: #333;
  border-bottom: 2px solid white;
  transition-duration: 0.25s;
}

li.current-menu-item{
  font-weight: 700;
  border-bottom: 2px solid #333;
}

/* Logo */
.logo{
  display: inline-block;
}
.logo h1{
  font-size: 1.5em;
  font-weight: 700;
}

/* Custom Headers */
h2 span.bulker{
  font-size: 2.5em;
  margin:0 0 30px 0;
  display: block;
}
h2.bulker{
  font-size: 2.5em!important;
}
h1.bulker{
  font-size: 3.5em!important;
}


/* About Me - Headline */
.headline-info{
  margin: auto;
  display: block;
}
#headline .headline-img{
  width: 185px;
  height: 185px;

  display: table;
  margin: auto;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 500px;
}
#headline h2{
  font-size: 1.75em;
  text-align: center;
}
#headline p{
  text-align: center;
}
#headline a.btn{
  margin: auto;
}

/* About Me - The Process */
#process td{
  vertical-align: middle;
  border: none;
}
#process h2.header-black{
  margin-right: 180px;
  float: right;
}
#process h3{
  margin:0;
  text-align: right;
}
.process-title{
  width: 40%;
}
.process-icon{
  width: 25px;
}

/* Projects Archive */
#projects{

}
.project-thumbnail{
  width: 100%;
  height: 250px;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;

  border:2.5px solid white;
  transition-duration: 0.25s;
}
.project-thumbnail:hover{
  border: 2.5px solid #333;
  transition-duration: 0.25s;
}
.project-item{
  text-align: center;
}
.project-item .col{
  padding:0;
}
.project-item:nth-child(3n-1) .col{
  padding:2em 1em;
}
.project-item:nth-child(3n-2) .col{
  padding:2em 2em 2em 0;
}
.project-item:nth-child(3n) .col{
  padding:2em 0 2em 2em;
}

.project-info{
  margin:10px 0;
}
.project-info p{
  font-size: 1.1em;
}
.project-info .project-summary p{
  font-size: .85em;
  font-weight: 300;
}
.project-item a.btn{
  margin: auto;
}

.project-screens{
  margin: 20px 0;
}

/* Project Screens */
.screen-item{
  padding: 40px 0;
  box-sizing: border-box;
}

/* Contact Page */
#contact .col-6{
  display: block;
  margin: auto;

  text-align: center;
}
#contact .col-6 a{
  color: #333;
}
#contact .contact-form{
  margin:30px 0 0 0;
}
#contact label{
  text-align: left;
}
.screen-reader-response{
  display: none;
}
.wpcf7-not-valid-tip{
  color: red;
  font-weight: 400;
}
.wpcf7-response-output{
  padding: 10px;
  box-sizing: border-box;
  font-weight: 300;
  border-radius: 5px;
}
.wpcf7-validation-errors{
  background-color: #A60D03;
  color: white;
}
.wpcf7-mail-sent-ok{
  background-color: #156034;
  color: white;
}


/* Node */
.node-heading {
    display: block;
    margin: 0 auto 10px auto;
    max-width: 100%;
    text-align: center;

    position: relative;
}
.node-heading h2{
  margin-top: 0;
  font-size: 2em;
  font-weight: 600;
}

a.btn.back{
  position: absolute;
  left: 0;
  top: 0;

  background-color: #f7f7f7;
  color: #333;
  border: none;
}
a.btn.back:after{
  display: none;
}

/* Case Study POPUP */
#case-study{
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
}
#case-study .container{
  height: auto;
  background: white;
  /* margin: 75px auto; */

  padding: 30px;
  box-sizing: border-box;

  overflow: auto;
  position: relative;
  width:750px;
  max-width:100%;
}
#case-study .case-study-content h2:first-child,
#case-study .case-study-content p:first-child{
  margin-top: 0;
}
.close{
  position: absolute;
  top: 15px;
  right: 15px;
}
#case-study .case-study-content p,
#case-study .case-study-content li{
  font-size: 1em;
line-height: 160%;
font-family: 'open sans';
}
#case-study .case-study-content a{
text-decoration:underline;
color:#0095da;
}
#case-study .case-study-content h2{
 font-size:1.75em;
}
#case-study .case-study-content img{
  height: auto;
}

.close:after{
  font-family: FontAwesome;
  content: "\f057";
  cursor: pointer;
  font-size: 1.25em;
  opacity: .25;
}

/* Case Study Button */
.case-study-btn{
  font-weight: 400;
  vertical-align: bottom;
  text-decoration: none;

  position: absolute;
  top: 0;
  right: 0;
}
.case-study-btn:after{
  display: none;
}
a.case-study-btn:hover{
  background-color: #333;
  color: #fff;
}
.case-study-btn:before{
  /* font-family: FontAwesome;
  content: "\f15c";

  margin:0 7.5px 0 0;
  font-size: .85em;
  vertical-align: bottom; */
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    /* border: 1px solid #f0f0f0; */
    max-width: 100%; /* Image does not overflow the content area */
    /* padding: 5px 3px 10px; */
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 14px!important;
    line-height: 17px!important;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

.bx-wrapper .bx-pager-item{
  font-size: 1em;
  position: relative;
  opacity: .75!important;
}
.page-name-hover{
  display: none;
  position: absolute;
  left: -30px;
  top: 10px;
  text-align: center;
  z-index: 9999999999999999;
  background: white;
  padding: 10px;
  box-sizing: border-box;
}

.page_name_container{
  height: 15px;
  margin-top: 20px;
}
.page_name{
  height: 100px;
  font-size: 1.25em;
  font-weight: 300;
}


.pager-item{
  width: 10px;
  height: 10px;
  border-radius: 20px;

  margin:0 4px;
  background-color: lightgrey;
}
.bx-pager-link.active .pager-item{
  background-color: #333;
}
